################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DDD.Core.Sample/.vs
/DDD.Core.Sample/DDD.Core.Sample.Application/bin
/DDD.Core.Sample/DDD.Core.Sample.Application/obj
/DDD.Core.Sample/DDD.Core.Sample.Application.DTO/bin
/DDD.Core.Sample/DDD.Core.Sample.Application.DTO/obj
/DDD.Core.Sample/DDD.Core.Sample.Application.Interfaces/bin
/DDD.Core.Sample/DDD.Core.Sample.Application.Interfaces/obj
/DDD.Core.Sample/DDD.Core.Sample.BootStrapper/obj
/DDD.Core.Sample/DDD.Core.Sample.BootStrapper/bin
/DDD.Core.Sample/DDD.Core.Sample.Domain/bin
/DDD.Core.Sample/DDD.Core.Sample.Domain/obj
/DDD.Core.Sample/DDD.Core.Sample.Domain.DomainEvents/bin
/DDD.Core.Sample/DDD.Core.Sample.Domain.DomainEvents/obj
/DDD.Core.Sample/DDD.Core.Sample.Domain.DomainServices/bin
/DDD.Core.Sample/DDD.Core.Sample.Domain.DomainServices/obj
/DDD.Core.Sample/DDD.Core.Sample.Domain.Repository.Interfaces/bin
/DDD.Core.Sample/DDD.Core.Sample.Domain.Repository.Interfaces/obj
/DDD.Core.Sample/DDD.Core.Sample.Domain.ValueObjects/bin
/DDD.Core.Sample/DDD.Core.Sample.Domain.ValueObjects/obj
/DDD.Core.Sample/DDD.Core.Sample.Infrastructure/bin
/DDD.Core.Sample/DDD.Core.Sample.Infrastructure/obj
/DDD.Core.Sample/DDD.Core.Sample.Infrastructure.Interfaces/bin
/DDD.Core.Sample/DDD.Core.Sample.Infrastructure.Interfaces/obj
/DDD.Core.Sample/DDD.Core.Sample.Repository/bin
/DDD.Core.Sample/DDD.Core.Sample.Repository/obj
/DDD.Core.Sample/DDD.Core.Sample.Web/bin
/DDD.Core.Sample/DDD.Core.Sample.Web/obj
/DDD.Core.Sample/DDD.Core.Sample.WebApi/bin
/DDD.Core.Sample/DDD.Core.Sample.WebApi/obj
/DDD.Core.Sample/XUnitTestProject1/bin
/DDD.Core.Sample/XUnitTestProject1/obj
/DDD.Core.Sample/DDD.Core.Sample.AuthServer/bin
/DDD.Core.Sample/DDD.Core.Sample.AuthServer/obj
